<form action="/quiz/submit" method="post">
    <p th:text="${question.text}"></p>

    <th:block th:if="${question.questionType.name() == 'TEXT'}">
        <input type="text" name="answer" />
    </th:block>

    <th:block th:if="${question.questionType.name() == 'SINGLE_CHOICE'}">
        <input type="radio" name="answer" th:each="option : ${question.options}" th:value="${option}" th:text="${option}" />
    </th:block>

    <th:block th:if="${question.questionType.name() == 'MULTIPLE_CHOICE'}">
        <input type="checkbox" name="answer" th:each="option : ${question.options}" th:value="${option}" th:text="${option}" />
    </th:block>


    <button type="submit">Далее</button>
</form>
