<form action="/quiz/submit" method="post">
    <p th:text="${question.text}"></p>

    <div th:if="${question.questionType == T(org.example.quizapp.domain.QuestionType).MULTIPLE_CHOICE}">
        <input type="checkbox" name="answer" th:each="option : ${question.options}" th:value="${option}" th:text="${option}" />
    </div>

    <div th:if="${question.questionType == T(org.example.quizapp.domain.QuestionType).SINGLE_CHOICE}">
        <input type="radio" name="answer" th:each="option : ${question.options}" th:value="${option}" th:text="${option}" />
    </div>

    <div th:if="${question.questionType == T(org.example.quizapp.domain.QuestionType).TEXT}">
        <input type="text" name="answer" />
    </div>

    <button type="submit">Далее</button>
</form>
